<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    All Revisions
  </h1>
  <!--
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
  -->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">


      <ul class="timeline">
        <li ng-repeat="review in reviews">
          <!--
          States:
          Accepted: ion-checkmark-round bg-green
          In Progress: ion-edit bg-blue
          Rejected: ion-close-round bg-red
          New: ion-plus-round bg-aqua
          Archived: ion-minus-round bg-gray
          -->
          <i class="fa ion-checkmark-round bg-green"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{review.modificationDate}}</span>
            <h3 class="timeline-header">Review <a href="#/reviews/{{review._id}}">{{review._id}}</a></h3>
            <div class="timeline-body">
              {{review.description}}
            </div>
            <div class='timeline-footer'>
                Reviewers:
                <a ng-repeat="reviewer in review.reviewers" class="btn btn-primary btn-xs">{{reviewer.reviewer.id}}</a>

                <div class="btn-group  btn-xs pull-right">
                <div class="btn btn-default btn-xs ion-gear-b"></div>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Subscribe</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section><!-- /.content -->
